{
  "__merge" : [],
  
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
     
      { "item" : "printpack" },
	  //signs and flags
      { "item" : "1handsign" },
      { "item" : "2handsign" },
      { "item" : "armorsign" },
	  { "item" : "armorysign" },
	  { "item" : "bathroomsign" },
	  { "item" : "bedroomsign" },
	  { "item" : "beesign" },
	  { "item" : "boozesign" },
	  { "item" : "bunkersign" },
      { "item" : "coalsign" },
	  { "item" : "clothingsign" },
	  { "item" : "craftingsign" },
      { "item" : "cropsign" },
	  { "item" : "dairysign" },
      { "item" : "decorsign" },
	  { "item" : "dessertssign" },
	  { "item" : "diningsign" },
      { "item" : "dirtsign" },
	  { "item" : "doorsign" },
      { "item" : "dyesign" },
	  { "item" : "entreessign" },
      { "item" : "evilflag" },
	  { "item" : "exitsign" },
      { "item" : "firstaidsign" },
      { "item" : "foodsign" },
      { "item" : "franceflag" },
	  { "item" : "fruitssign" },
	  { "item" : "fuelsign" },	
      { "item" : "furnituresign" },
	  { "item" : "gamesign" },
	  { "item" : "germanflag" },
      { "item" : "glasssign" },
	  { "item" : "grainssign" },
      { "item" : "gunsign" },
      { "item" : "hatsign" },
	  { "item" : "hungaryflag" },
      { "item" : "ingotsign" },
      { "item" : "instrumentsign" },	  
	  { "item" : "italyflag" },
      { "item" : "junksign" },
	  { "item" : "kitchensign" },
	  { "item" : "labsign" },
	  { "item" : "librarysign" },
      { "item" : "lightsign" },
	  { "item" : "livingsign" },
      { "item" : "lootsign" },
	  { "item" : "materialssign" },
	  { "item" : "meatssign" },
      { "item" : "miscsign" },
      { "item" : "oldglory" },
      { "item" : "oresign" },
      { "item" : "pantssign" },
      { "item" : "pixelssign" },
	  { "item" : "poolsign" },
	  { "item" : "prideflag" },
      { "item" : "sandsign" },
	  { "item" : "securitysign" },
      { "item" : "seedssign" },
      { "item" : "shieldssign" },
      { "item" : "shirtssign" },
	  { "item" : "sidessign" },
	  { "item" : "snackssign" },
	  { "item" : "spawnersign" },
	  { "item" : "stimsign" },
      { "item" : "stonesign" },	  
	  { "item" : "storagesign" },
	  { "item" : "swissflag" },
      { "item" : "techsign" },
	  { "item" : "throwsign" },
      { "item" : "toolssign" },
      { "item" : "unionjack" },
	  { "item" : "vaultsign" },
	  { "item" : "veggiessign" },
      { "item" : "weaponsign" },
	  { "item" : "wiringsign" },
      { "item" : "woodsign" },
	  { "item" : "wuxinghongqi" },
	  //lockers	  
	  { "item" : "aegisaltsafe" },	
	  { "item" : "aviantemplelocker" },	
	  { "item" : "bricklocker" },
	  { "item" : "castlewalllocker" },
	  { "item" : "ceruliumsafe" },
	  { "item" : "checkeredlocker" },	  
	  { "item" : "creeperlocker" },	
	  { "item" : "crystallocker" },	
	  { "item" : "crystalmicrolocker" },	
	  { "item" : "feroziumsafe" },
	  { "item" : "goldlocker" },	
	  { "item" : "goldmicrolocker" },
	  { "item" : "hiddenlocker" },
	  { "item" : "imperviumsafe" },
	  { "item" : "invisiblelocker" },	
	  { "item" : "ironlocker" },	  
	  { "item" : "metallocker" },
	  { "item" : "metallockerblack" },
	  { "item" : "metalmicrolockerblack" },
	  { "item" : "pipelocker" },
	  { "item" : "rainbowlocker" },	
	  { "item" : "robotniklocker" },
	  { "item" : "rubiumsafe" },
	  { "item" : "shiptechlocker" },
	  { "item" : "shipwalllocker" },	
	  { "item" : "silverlocker" },	
	  { "item" : "silvermicrolocker" },
	  { "item" : "sportlocker" },
	  { "item" : "sportlockerblack" },
	  { "item" : "sportlockertall" },
	  { "item" : "sportlockerblacktall" },
	  { "item" : "stonelocker" },	
	  { "item" : "stonemicrolocker" },
	  { "item" : "techlocker" },
	  { "item" : "techmicrolocker" },
	  { "item" : "templelocker" },
	  { "item" : "vaultlocker" },
	  { "item" : "violiumsafe" },
	  { "item" : "woodlocker" },
	  { "item" : "woodmicrolocker" },
	  //art
	  { "item" : "compositionc" },
	  { "item" : "earth" },
	  { "item" : "girlwithapearlearring" },
	  { "item" : "keeper" },
	  { "item" : "lillies" },
	  { "item" : "renaissance" },
	  { "item" : "thegreatwaveoffkanagawa" },
	  { "item" : "thescream" },
	  { "item" : "thinlizzy" },
	  { "item" : "turquoisemarilyn" },
	  //furniture and lights
	  { "item" : "bloodbed"},
	  { "item" : "bloodchair"},
	  { "item" : "blooddoor"},
	  { "item" : "evilbed"},
	  { "item" : "evilchair"},
	  { "item" : "evildoor"},
	  { "item" : "greedbed"},
	  { "item" : "greedchair"},
	  { "item" : "greeddoor"},
	  { "item" : "gtorchbug" },	
	  { "item" : "modcabinet" },
	  { "item" : "modcabinetblack" },
	  { "item" : "modcabinetcenter" },
	  { "item" : "modcabinetblackcenter" },
	  { "item" : "modcounter" },
	  { "item" : "modcounterblack" },
	  { "item" : "modcountercenter" },
	  { "item" : "modcounterblackcenter" },
	  { "item" : "modfridge" },
	  { "item" : "modfridgeblack" },
	  { "item" : "modoven" },
	  { "item" : "modovenblack" },
	  { "item" : "policebox" },
	  { "item" : "ptorchbug" },	  
	  { "item" : "rtorchbug" },	  
	  { "item" : "ytorchbug" },
	  //letters
	  { "item" : "lblackperiod" },
	  { "item" : "lblackexclamation" },
	  { "item" : "lblack0" },
	  { "item" : "lblack1" },
	  { "item" : "lblack2" },
	  { "item" : "lblack3" },
	  { "item" : "lblack4" },
	  { "item" : "lblack5" },
	  { "item" : "lblack6" },
	  { "item" : "lblack7" },
	  { "item" : "lblack8" },
	  { "item" : "lblack9" },
	  { "item" : "lblacka" },
	  { "item" : "lblackb" },
      { "item" : "lblackc" },
	  { "item" : "lblackd" },
	  { "item" : "lblacke" },
      { "item" : "lblackf" },
      { "item" : "lblackg" },
      { "item" : "lblackh" },
      { "item" : "lblacki" },
	  { "item" : "lblackj" },
      { "item" : "lblackk" },
      { "item" : "lblackl" },
      { "item" : "lblackm" },
	  { "item" : "lblackn" },
      { "item" : "lblacko" },
      { "item" : "lblackp" },
      { "item" : "lblackq" },
      { "item" : "lblackr" },
      { "item" : "lblacks" },
      { "item" : "lblackt" },
      { "item" : "lblacku" },
      { "item" : "lblackv" },
	  { "item" : "lblackw" },
      { "item" : "lblackx" },
      { "item" : "lblacky" },
      { "item" : "lblackz" },
	  //ship items
	  { "item" : "bloodcaptainchair" },
	  { "item" : "bloodcapturestation" },
	  { "item" : "blooddetails" },
	  { "item" : "bloodfuelhatch" },
	  { "item" : "bloodshiplight" },
	  { "item" : "bloodshiplocker" },
	  { "item" : "bloodsupport" },
	  { "item" : "bloodtechstation" },
	  { "item" : "bloodteleporter" },
	  { "item" : "evilboosterflame" },
	  { "item" : "evilcaptainchair" },
	  { "item" : "evilcapturestation" },
	  { "item" : "evildetails" },
	  { "item" : "evilfuelhatch" },
	  { "item" : "evilplatform" },
	  { "item" : "evilshiplight" },
	  { "item" : "evilshiplocker" },
	  { "item" : "evilsmallboosterflame" },
	  { "item" : "evilsupport" },
	  { "item" : "eviltechstation" },
	  { "item" : "evilteleporter" },
	  { "item" : "evilwall" },
	  { "item" : "greedcaptainchair" },
	  { "item" : "greedcapturestation" },
	  { "item" : "greeddetails" },
	  { "item" : "greedfuelhatch" },
	  { "item" : "greedshiplight" },
	  { "item" : "greedshiplocker" },
	  { "item" : "greedsupport" },
      { "item" : "greedtechstation" },
	  { "item" : "greedteleporter" },	  
	  //material blocks
	  { "item" : "wallpaper1" },
	  { "item" : "wallpaper2" },
	  { "item" : "wallpaper3" },
	  { "item" : "wallpaper4" },
	  { "item" : "wallpaper5" },
	  { "item" : "wallpaper6" },
	  { "item" : "wallpaper7" },
	  { "item" : "wallpaper8" },
	  { "item" : "wallpaper9" },
	  { "item" : "wallpaper10" },
	  { "item" : "woodpanel" },
	  { "item" : "woodpanelborder" }
	  
    ]
  }
}