{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "watersplashmmn"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/enemydeathpuff.wav" ]
    },
    {
      "action" : "liquid", "liquidId" : 1, "quantity" : 2000
    }

  ]
}
