{
  "__merge" : [],
  "liquids" : {
    "8" : {
      "name" : "blood",
      "texture" : "/bloodtex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [204, 13, 0, 225],
      "bottomLightMix" : [204, 0, 0],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "notBreathable"
    },
    "9" : {
      "name" : "hotlava",
      "texture" : "/hotlavatex.png",
      "blockGenerationChance" : 0.001,
      "blockOptions" : [ "magmarock" ],
      "interactions" : {
        "1" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        },
        "2" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        }
      },
      "drawMinimum" : 0.1,
      "color" : [163, 190, 246, 205],
      "bottomLightMix" : [115, 114, 236],
      "bottomLightMultiplier" : 2,
      "radiantLight" : [115, 114, 236],
      "textureMovementFactor" : 26,
      "upwardsSpeedModifier" : 1.3,
      "sidewaysSpeedModifier" : 0.3,
      "downwardsSpeedModifier" : 1,
      "backgroundFlowPercentage" : 0.05,
      "breathable" : "notBreathable",
      "ontouchStatusEffects" : [
        { "kind" : "testmagma" }
      ]
    },
    "10" : {
      "name" : "murky",
      "texture" : "/murktex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [107, 74, 34, 205],
      "bottomLightMix" : [53, 36, 17],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "notBreathable"
    },
    "11" : {
      "name" : "infinitemurk",
      "texture" : "/murktex.png",
      "flowAs" : 10,
      "blockGenerationChance" : 0.000,
      "connectedOnly" : false,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [107, 74, 34, 205],
      "bottomLightMix" : [53, 36, 17],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "notBreathable",
      "endless" : true
    },
    "12" : {
      "name" : "icywater",
      "texture" : "/watertex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [240, 252, 255, 128],
      "bottomLightMix" : [134, 191, 204],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "notBreathable",
      "ontouchStatusEffects" : [
        { "kind" : "warmth",
          "amount" : -100.0
		}
      ]
    },
    "13" : {
      "name" : "arcticwater",
      "texture" : "/watertex.png",
      "flowAs" : 12,
      "blockGenerationChance" : 0.000,
      "connectedOnly" : false,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 0.1,
      "color" : [80, 221, 254, 128],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 8,
      "breathable" : "notBreathable",
      "endless" : true
    }
  }
}
