{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
        { "item" : "flatchip" },
        { "item" : "forestsaplingcrafter" },
        { "item" : "snowsaplingcrafter" },
        { "item" : "soiler" }
    ],
    "tier2" : [ 
        { "item" : "crystalvoxel1k" },
        { "item" : "crystalvoxel2k" },
        { "item" : "crystalvoxel5k" },
        { "item" : "crystalvoxel10k" },
        { "item" : "redglowstick" },
        { "item" : "yellowglowstick" },
        { "item" : "greenglowstick" },
        { "item" : "blueglowstick" },
        { "item" : "purpleglowstick" },
        { "item" : "whiteglowstick" },
        { "item" : "orangeglowstick" }
    ],
    "tier3" : [ 
        { "item" : "titaniumpixelator" }
    ],
    "level32" : [ 
        { "item" : "aegisaltpixelator" }
    ]
  }
}