{
  "__merge" : [],
  "planetSizes" : {
    "dungeonlesstiny" : {
      "size" : [2048, 1504],
      "description" : "tiny",
      "surfaceLevel" : 380,
      "undergroundLevel" : 340,
      "bedrockLevel" : 280,
      "lavaLevel" : 32,
      "spaceBoundary" : 1000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 190,

      "undergroundDetachedBiomeCount" : 5,
      "undergroundDetachedBiomeRadius" : 400,
      "undergroundDetachedBiomeEnvironmentRadius" : 410,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },

    "dungeonlesssmall" : {
      "size" : [4000, 4000],
      "description" : "small",
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "lavaLevel" : 32,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 220,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 500,
      "undergroundDetachedBiomeEnvironmentRadius" : 510,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },

    "dungeonlesslarge" : {
      "size" : [6016, 4000],
      "description" : "large",
      "surfaceLevel" : 1200,
      "undergroundLevel" : 1150,
      "bedrockLevel" : 1050,
      "lavaLevel" : 128,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },

    "dungeonlessverylarge" : {
      "size" : [8000, 4992],
      "description" : "very large",
      "surfaceLevel" : 1600,
      "undergroundLevel" : 1530,
      "bedrockLevel" : 1400,
      "lavaLevel" : 128,
      "spaceBoundary" : 4000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 6,
      "detachedBiomeRadius" : 280,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 700,
      "undergroundDetachedBiomeEnvironmentRadius" : 710,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },
	
     "dungeonlesshuge" : {
      "size" : [16000, 7008],
      "description" : "huge",
      "surfaceLevel" : 3000,
      "undergroundLevel" : 2900,
      "bedrockLevel" : 2700,
      "lavaLevel" : 128,
      "spaceBoundary" : 5500,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 7,
      "detachedBiomeRadius" : 310,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 800,
      "undergroundDetachedBiomeEnvironmentRadius" : 810,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },
	

    "floatingIsles" : {
      "size" : [4000, 4000],
      "description" : "large",
      "surfaceLevel" : 100,
      "undergroundLevel" : 80,
      "bedrockLevel" : 60,
      "lavaLevel" : 10,
      "spaceBoundary" : 4000,

      "blendSize" : 1,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    }
  },
  
  "surfaceTerrain" : {
    "islands" : {
      "surfaceSelector" : "islands",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "canyons" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "mountainfull" : {
      "surfaceSelector" : "mountainSurface",
      "caveSelector" : "normalCaves",
       "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "totallyflatfull" : {
      "surfaceSelector" : "totallyflat",
      "caveSelector" : "solidbackground",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "ehflatenough" : {
      "surfaceSelector" : "ehflatenough",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "Swamplandsterrain" : {
      "surfaceSelector" : "Swamplandsurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "Coveterrain" : {
      "surfaceSelector" : "Covesurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "deepocean" : {
      "surfaceSelector" : "deepocean",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "floatingSurface" : {
      "surfaceSelector" : "floatingSurface",
      "caveSelector" : "solidbackground",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "denseVeins"
    }
  },

  "surfaceBiomeTerrains" : {
    "Mountainous" : [ "mountainfull" ],
    "Snowy Mountains" : [ "mountainfull" ],
    "Flatlands" : [ "totallyflatfull" ],
    "Snow Flatlands" : [ "totallyflatfull" ],
    "Desert Flatlands" : [ "totallyflatfull" ],
    "Volcanic Flatlands" : [ "totallyflatfull" ],
    "Jungle Flatlands" : [ "totallyflatfull" ],
    "Tentacle Flatlands" : [ "totallyflatfull" ],
    "Savannah Flatlands" : [ "totallyflatfull" ],
    "Grassy Flatlands" : [ "totallyflatfull" ],
    "Mountainous Flatlands" : [ "totallyflatfull" ],
    "Living Flatlands" : [ "totallyflatfull" ],
    "Tarball Flatlands" : [ "totallyflatfull" ],
    "Crystalline Flatlands" : [ "totallyflatfull" ],
    "Rainbow Flatlands" : [ "totallyflatfull" ],
    "Frostfire Flatlands" : [ "totallyflatfull" ],
    "Spooky Flatlands" : [ "totallyflatfull" ],
    "Crystal Moon Flatlands" : [ "totallyflatfull" ],
    "Metallic Moon Flatlands" : [ "totallyflatfull" ],
    "Moon Flatlands" : [ "totallyflatfull" ],
    "Wastelands" : [ "ehflatenough" ],
    "Swamplands" : [ "Swamplandsterrain" ],
    "Cove" : [ "Coveterrain" ],
    "Tropics" : [ "Swamplandsterrain" ],
    "Deep Ocean" : [ "deepocean" ],
    "Asteroid Field" : [ "debrisfield" ],
    "Arctic" : [ "islands" ],
    "Ocean" : [ "islands" ],
    "Floating Islands" : [ "floatingSurface" ]
  }
}