{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/stimlab_header.png",
      "fileBody" : "/interface/objectcrafting/stimlab_body.png",
      "fileFooter" : "/interface/objectcrafting/stimlab_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 48],
      "base" : "/interface/objectcrafting/dispense.png",
      "hover" : "/interface/objectcrafting/dispenseover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [71, 38],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [71, 56],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [113, 47],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
      "pointer" : {
      "type" : "image",
      "position" : [89, 44],
      "file" : "/interface/objectcrafting/stimlab_link.png"
    },
      "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/stimlab_shine.png",
      "position" : [-20, 20]
    }
  }
}
