{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/stimlab_header.png",
      "fileBody" : "/interface/objectcrafting/stimlab_bodylarge.png",
      "fileFooter" : "/interface/objectcrafting/stimlab_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 128],
      "base" : "/interface/objectcrafting/filter.png",
      "hover" : "/interface/objectcrafting/filterover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [71, 118],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [71, 136],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 2,
      "position" : [113, 127],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
      "pointer" : {
      "type" : "image",
      "position" : [89, 124],
      "file" : "/interface/objectcrafting/stimlab_link.png"
    },
      "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/overlaypurifiert4.png",
      "position" : [-10, 39]
    }
  }
}
