{
  "mainColor" : [182, 204, 255],
  "dayTransitionTime" : 200.0,
  "skyMaxAlpha" : 0.9,
  "skyLevelExponent" : 0.3,

  "flyMaxVelocity" : 100000,
  "starVelocityFactor" : 0.12,
  "correctionPower" : 0.01,

  "speedupTimer" : 8.0,
  "flyingTimer" : 30.0,
  "slowdownTimer" : 8.0,
  "flashTimer" : 1.0,
  "disembarkOrigin" : {
    "offset" : [0, 0], "rotation" : 0
  },

  "disembarkPath" : [
    {
      // where you're going, how are you rotated in degrees, how much time does it take to get there
      "offset" : [300, 300], "rotation" : -45.0, "time" : 10
    }
  ],

  "arrivalOrigin" : {
    "offset" : [-300, 300], "rotation" : 45.0
  },

  "arrivalPath" : [
    {
      "offset" : [0, 0], "rotation" : 0, "time" : 10
    }
  ],

  "sun" : {
    "image" : "/sky/orbitals/sun.png",
	"radius" : 350
  },

  "planetHorizon" : {
    "scale" : 0.5,
    "yCenter" : -700,
    "cloudCount" : [0, 80],
    "cloudRadius" : [740, 810],
    "cloudSpeed" : [0.8, 0.01],
    "clouds" : [
      "/sky/orbitals/cloud2.png",
      "/sky/orbitals/cloud3.png",
      "/sky/orbitals/cloud4.png",
	  "/sky/orbitals/cloud5.png",
	  "/sky/orbitals/cloud6.png"
    ]
  },

  "spaceDebris" : {
    "velocityRange" : [0, 1],
    "numFields" : [2, 4],
    "cellSize" : 1900,
    "screenBuffer" : 1000,
    "cellCount" : [2, 4],
    "angularVelocity" : [0, 1],
    "animationSpeed" : [0, 4],

    "list" : [
      "/sky/glitters/1.png",
      "/sky/glitters/2.png",
      "/sky/glitters/3.png",
      "/sky/glitters/4.png",
      "/sky/glitters/5.png",
      "/sky/glitters/6.png",
      "/sky/glitters/7.png",
      "/sky/glitters/8.png",
	  "/sky/glitters/9.png",
      "/sky/glitters/10.png",
	  "/sky/glitters/11.png",
      "/sky/glitters/12.png",
	  "/sky/glitters/13.png",
      "/sky/glitters/14.png",
	  "/sky/glitters/15.png",
	  "/sky/glitters/16.png",
	  "/sky/glitters/17.png",
	  "/sky/glitters/18.png",
	  "/sky/glitters/19.png",
	  "/sky/glitters/20.png",
	  "/sky/glitters/21.png",
	  "/sky/glitters/22.png",
	  "/sky/glitters/23.png",
	  "/sky/glitters/24.png",
	  "/sky/glitters/25.png",
	  "/sky/glitters/26.png",
	  "/sky/glitters/27.png",
	  "/sky/glitters/28.png",
	  "/sky/glitters/29.png",
	  "/sky/glitters/30.png",
	  "/sky/glitters/31.png",
	  "/sky/glitters/32.png",
	  "/sky/glitters/33.png",
	  "/sky/glitters/34.png"
    ]
  },

  "satellite" : {
    "planetScale" : 3.0,
    "moonScale" : 1.5,
    "area" : [400, 400]
  },

  "stars" : {
    "cellSize" : 170,
    "screenBuffer" : 4,
    "cellCount" : [380, 380],
    "twinkleMin" : 0.1,
    "twinkleMax" : 2,

    "frames" : 3,
    "list" : [
      "/sky/stars/bigb_star.png",
      "/sky/stars/bigr_star.png",
      "/sky/stars/bigw_star.png",
      "/sky/stars/bigy_star.png",
      "/sky/stars/mediumb_star.png",
      "/sky/stars/smallerw_star.png",
      "/sky/stars/smallr_star.png",
      "/sky/stars/smallw_star.png",
      "/sky/stars/smally_star.png",
      "/sky/stars/transw_star.png",
      "/sky/stars/transy_star.png"
    ],
    "hyperlist" : [
      "/sky/stars/warp1.png",
      "/sky/stars/warp2.png",
      "/sky/stars/warp3.png",
      "/sky/stars/warp4.png",
	  "/sky/stars/warp5.png"
    ]
  },

  "engineAudio" : "/sfx/interface/ship_thrusters.ogg",
  "hyperspaceAudio" : "/sfx/interface/hyperspace_loop.ogg",
  "enterHyperspaceAudio" : "/sfx/interface/hyperspace_start.ogg",
  "exitHyperspaceAudio" : "/sfx/interface/hyperspace_end.ogg",
  "arrivalAudio" : "/sfx/interface/thruster_off.wav",
  "enterHyperspaceAudioLeadIn" : 7.9,
  "exitHyperspaceAudioLeadIn" : 2.7,
  "engineCrossfadeTime" : 0
}
