{
  "__merge" : [
    [ "overwrite", "systemCenter" ],
    [ "overwrite", "planetCenter" ],
    [ "overwrite", "planetInfoSeparatorRect" ],
    [ "overwrite", "planetInfoSeparatorColor" ],
    [ "overwrite", "planetInfoBackgroundRect" ],
    [ "overwrite", "planetInfoBackgroundColor" ],
    [ "overwrite", "planetNameDrawPosition" ],
    [ "overwrite", "satelliteNameDrawPosition" ],
    [ "overwrite", "worldBiomeDrawPosition" ],
    [ "overwrite", "worldThreatDrawPosition" ],
    [ "overwrite", "planetaryOrbitPositions" ]
  ],

  "systemCenter" : [146, 70],

  "planetCenter" : [146, 70],

  "planetInfoSeparatorRect" : [0, 127, 300, 128],
  "planetInfoSeparatorColor" : [0, 99, 152, 255],
  "planetInfoBackgroundRect" : [0, 127, 300, 160],
  "planetInfoBackgroundColor" : [0, 0, 0, 234],

  "planetNameDrawPosition" : [5, 129],
  "planetNameFontSize" : 8,

  "satelliteNameDrawPosition" : [5, 129],
  "satelliteNameFontSize" : 8,

  "worldInfoFontSize" : 8,
  "worldBiomeDrawPosition" : [5, 145],
  "worldThreatDrawPosition" : [5, 137],

  "planetaryOrbitPositions" : [
    [90, 0],
    [75, 10],
    [55, 20],
    [-55, 30],
    [-120, 25],
    [-90, 0],
    [-100, -40],
    [-75, -25],
    [-30, -16],
    [30, -33],
    [55, -35],
    [100, -29],
    [120, -45]
  ]

}
