{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ { "item" : "guncraftingtablemmn" },
	{ "item" : "Bronzebarrelmmn" },
	{ "item" : "Steelbarrelmmn" },
	{ "item" : "Titaniumbarrelmmn" },
	{ "item" : "Durasteelbarrelmmn" },
	{ "item" : "Aegisaltbarrelmmn" },
	{ "item" : "Feroziumbarrelmmn" },
	{ "item" : "Ceruliumbarrelmmn" },
	{ "item" : "Violiumbarrelmmn" },
	{ "item" : "Rubiumbarrelmmn" },
	{ "item" : "Imperviumbarrelmmn" },
	{ "item" : "Pistolframemmn" },
	{ "item" : "Machinepistolframemmn" },
	{ "item" : "Shotgunframemmn" },
	{ "item" : "Assaultrifleframemmn" },
	{ "item" : "Sniperrifleframemmn" },
	{ "item" : "Grenadelauncherframemmn" },
	{ "item" : "Rocketlauncherframemmn" },
	{ "item" : "Flamethrowerframemmn" },
	{ "item" : "Standardcartridgemmn" },
	{ "item" : "Fragmentedcartridgemmn" },
	{ "item" : "Toxiccartridgemmn" },
	{ "item" : "Reapercartridgemmn" },
	{ "item" : "Plasmacartridgemmn" },
	{ "item" : "Dischargercartridgemmn" },
	{ "item" : "Flarecartridgemmn" },
	{ "item" : "Stickyplasmacartridgemmn" },
	{ "item" : "gunassemblymmn" },
	{ "item" : "bouncingplasmashellsmmn" },
	{ "item" : "dragonsbreathshellsmmn" },
	{ "item" : "explosiveshellsmmn" },
	{ "item" : "fragmentedlasershellsmmn" },
	{ "item" : "gravityshellsmmn" },
	{ "item" : "mayhemshellsmmn" },
	{ "item" : "multiroundshellsmmn" },
	{ "item" : "pelletshellsmmn" },
	{ "item" : "ricochetshellsmmn" },
	{ "item" : "slugshellsmmn" },
	{ "item" : "sonicboomshellsmmn" },
	{ "item" : "acceleratormagazinemmn" },
	{ "item" : "mpbulletmagazinemmn" },
	{ "item" : "mpplasmamagazinemmn" },
	{ "item" : "plasmarainmagazinemmn" },
	{ "item" : "ravagermagazinemmn" },
	{ "item" : "splittermagazinemmn" },
	{ "item" : "trickshotmagazinemmn" },
	{ "item" : "trifectamagazinemmn" },
	{ "item" : "carpetbomberrocketmmn" },
	{ "item" : "drillrocketmmn" },
	{ "item" : "incendiaryrocketmmn" },
	{ "item" : "nuclearrocketmmn" },
	{ "item" : "rocketswarmmmn" },
	{ "item" : "sawrocketmmn" },
	{ "item" : "standardrocketmmn" },
	{ "item" : "lightningcontainermmn" },
	{ "item" : "liquidheliumcontainermmn" },
	{ "item" : "phosphorcontainermmn" },
	{ "item" : "standardfuelcontainermmn" },
	{ "item" : "fraggrenademmn" },
	{ "item" : "gravitybombmmn" },
	{ "item" : "grenademmn" },
	{ "item" : "icegrenadesmmn" },
	{ "item" : "impactgrenademmn" },
	{ "item" : "incendiarygrenademmn" },
	{ "item" : "micemmn" },
	{ "item" : "pigmmn" },
	{ "item" : "spikeballsmmn" },
	{ "item" : "acidglobmmn" },
	{ "item" : "cascademmn" },
	{ "item" : "clustergrenademmn" },
	{ "item" : "arcingplasmammn" },
	{ "item" : "explosivesniperbulletmmn" },
	{ "item" : "icesniperbulletmmnmmn" },
	{ "item" : "needlebarragemmn" },
	{ "item" : "phantomsniperbulletmmn" },
	{ "item" : "shieldplasmammn" },
	{ "item" : "sniperbouncermmn" },
	{ "item" : "sniperbulletmmn" },
	{ "item" : "sniperplasmammn" },
	{ "item" : "stickysniperplasmammn" },
	{ "item" : "toxicsniperbulletmmn" },
	{ "item" : "twincasemmn" },
	{ "item" : "arbulletmmn" },
	{ "item" : "crystalbulletmmn" },
	{ "item" : "explosivebulletmmn" },
	{ "item" : "hoverplasmaroundsmmn" },
	{ "item" : "knifelaunchermmn" },
	{ "item" : "needlermmn" },
	{ "item" : "plasmaburstmmn" },
	{ "item" : "plasmaroundsmmn" },
	{ "item" : "plasmaweavearmmn" },
	{ "item" : "supersonicbullletmmn" },
	{ "item" : "tridentmmn" },
	{ "item" : "tripleburstmmn" },
	{ "item" : "bowframemmn" },
	{ "item" : "longbowarrowmmn" },
	{ "item" : "broadheadarrowmmn" },
	{ "item" : "bluntarrowmmn" },
	{ "item" : "uraniumarrowmmn" },
	{ "item" : "shardarrowmmn" },
	{ "item" : "waterarrowmmn" },
	{ "item" : "violiumarrowmmn" },
	{ "item" : "rubiumarrowmmn" },
	{ "item" : "explosivearrowmmn" },
	{ "item" : "snapjawboltmmn" },
	{ "item" : "concussionboltmmn" },
	{ "item" : "trapboltmmn" },
	{ "item" : "boltrainmmn" },
	{ "item" : "drillboltmmn" },
	{ "item" : "electricboltmmn" },
	{ "item" : "incendiaryboltmmn" },
	{ "item" : "explosiveboltmmn" },
	{ "item" : "livingboltmmn" },
	{ "item" : "Crossbowframemmn" },
	{ "item" : "Moderncrossbowframemmn" },
	{ "item" : "Pcrossbowframemmn" }
	
	
	
		
	]
  }
}
