{
  "__merge" : [],
  "defaultBlueprints" : {

"tier1" : [
{ "item" : "smallsolarpanelback" },
{ "item" : "batteryAAApackback" },
{ "item" : "smalllifestation" },
{ "item" : "ccsss" },
{ "item" : "coalheaterback" },
{ "item" : "1shell" }

],

"tier2" : [
{ "item" : "2shell" }

],

"tier3" : [
{ "item" : "solarpanelback" },
{ "item" : "lifestation" },
{ "item" : "batteryAApackback" },
{ "item" : "xuraniumlanternback" },
{ "item" : "speedpack" },
{ "item" : "jumppack" },
{ "item" : "ucsss" },
{ "item" : "uraniumheaterback" },
{ "item" : "3shell" }

],

"tier4" : [
{ "item" : "4shell" }

],

"level32" : [
{ "item" : "bigsolarpanelback" },
{ "item" : "biglifestation" },
{ "item" : "batteryCpackback" },
{ "item" : "pcsss" },
{ "item" : "xplutoniumlanternback" },
{ "item" : "plutoniumheaterback" },
{ "item" : "5shell" }

],

"level33" : [
{ "item" : "6shell" }

],

"level34" : [
{ "item" : "gaintsolarpanelback" },
{ "item" : "gaintlifestation" },
{ "item" : "batteryDpackback" },
{ "item" : "xsolariumlantern" },
{ "item" : "speedjumppack" },
{ "item" : "scsss" },
{ "item" : "solariumheaterback" },
{ "item" : "7shell" }

],

"level35" : [
{ "item" : "8shell" }

],

"level36" : [
{ "item" : "9shell" }

],

"level37" : [
{ "item" : "solarbatteryback" },
{ "item" : "batterylife" },
{ "item" : "10shell" }

]
}
}