{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
	{ "item" : "ffguide" },	
	{ "item" : "extractionlab" },
	{ "item" : "bambooplatform" },
	{ "item" : "bamboobed" },
	{ "item" : "bamboodoor" },
	{ "item" : "bambootable" },
	{ "item" : "bamboochair" },
	{ "item" : "bamboochest" },
	{ "item" : "magmawall1" },
	{ "item" : "magmawall2" },
	{ "item" : "magmawall3" },
	{ "item" : "magmawall4" },
	{ "item" : "infectedstonewall" },
	{ "item" : "bloodstonewall" },
	{ "item" : "infectedstonewall2" },
	{ "item" : "bloodstonewall2" },	
	{ "item" : "infectedstonewall3" }
              ]
  }
}
