{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.25,
      "type" : "explosiveboltexplosionmmn"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.wav", "/sfx/gun/grenadeblast2.wav", "/sfx/gun/grenadeblast3.wav" ]
    }
  ]
}
