{
	"__merge" : [],
	"species" : ["avali"],
	"defaultBlueprints" : {
		"tier1" : [
		
			// LOOM STUFF
			{ "item" : "fabric2" },	  
			{ "item" : "graphene" },
		   		   
			{ "item" : "campcanvas" },	
			{ "item" : "camppole" },	  
			{ "item" : "camptapestry1" },
			{ "item" : "camptapestry2" },	
			{ "item" : "campbigpole" },
			
			{ "item" : "avalicushion1" },	  
			{ "item" : "avalicushion2" },	 	  
			{ "item" : "campdoor" },			
			{ "item" : "camplargeentry1" },
			{ "item" : "camplargeentry2" },
			{ "item" : "camplargewall1" },	  
			{ "item" : "camplargewall2" },
			{ "item" : "campslope1" },	  
			{ "item" : "campslope2" },
			{ "item" : "campsmallentry1" },	  
			{ "item" : "campsmallentry2" },
			{ "item" : "campsmallwall1" },	  
			{ "item" : "campsmallwall2" },
						
			// LATHE STUFF
			{ "item" : "aerogel" },	

			{ "item" : "avaliaeroponics" },	  
			{ "item" : "avalidarkmetal" },
			{ "item" : "avalidarkmetal2" },
			{ "item" : "avalidisplay" },	  
			{ "item" : "avalipaneling" },
			{ "item" : "avaliplatform" },	  
			{ "item" : "avalitechpanel" },
			
			{ "item" : "avalibottle1" },
			{ "item" : "avalichest1" },
			{ "item" : "avalichest2" },
			{ "item" : "avalicrystal1" },
			{ "item" : "avalidreamcatcher1" },
			{ "item" : "avaliemblem" },
			{ "item" : "avaliemblembig" },
			{ "item" : "avaligundisplay1" },
			{ "item" : "avaligundisplay2" },
			{ "item" : "avalitable1" },
			{ "item" : "avalitable2" },
			{ "item" : "avalitable3" },
			{ "item" : "avaliweapondisplay1" },			
						
			//	WEAPON BENCH STUFF
			{ "item" : "avalitier1riflebounce" },				
			{ "item" : "avalitier1rifleexplosive" },
			{ "item" : "avalitier1daggerfire" },	
			{ "item" : "avalitier1shortswordfire" },	
			{ "item" : "avalitier1broadswordfire" },	
			{ "item" : "avalitier1hammerfire" },	
			{ "item" : "avalitier1spearfire" },

			{ "item" : "avalitier2riflebounce" },				
			{ "item" : "avalitier2rifleexplosive" },
			{ "item" : "avalitier2daggerfire" },	
			{ "item" : "avalitier2shortswordfire" },	
			{ "item" : "avalitier2broadswordfire" },	
			{ "item" : "avalitier2hammerfire" },	
			{ "item" : "avalitier2spearfire" },	

			{ "item" : "avalitier3riflebounce" },				
			{ "item" : "avalitier3rifleexplosive" },
			{ "item" : "avalitier3daggerfire" },	
			{ "item" : "avalitier3shortswordfire" },	
			{ "item" : "avalitier3broadswordfire" },	
			{ "item" : "avalitier3hammerfire" },	
			{ "item" : "avalitier3spearfire" },	

			{ "item" : "avalitier4riflebounce" },				
			{ "item" : "avalitier4rifleexplosive" },
			{ "item" : "avalitier4daggerfire" },	
			{ "item" : "avalitier4shortswordfire" },	
			{ "item" : "avalitier4broadswordfire" },	
			{ "item" : "avalitier4hammerfire" },	
			{ "item" : "avalitier4spearfire" }				
		]	
	}
}
