{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
    [ { "mode" : "alts" }, "Burning", "Ignited", "Flame", "Hellfire", "Storm", "Ash", "Crispy", "Pyro" ],
    [ { "mode" : "alts" }, "barrel", "thrower", "lobber", "scourge", "caller", "sprayer", "maniac", "razer" ]
    ]
  ]
}
