{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Awe-Inspiring ", "Steel ", "Redemption's ", "Platinum ", "Death's ", "Silver " ],
      [ { "mode" : "alts" }, "Hand cannon", "Shot", "Piece", "Revolver", "Symbol", "Salvation", "Silencer" ]
    ]
  ]
}
