{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Insane ", "", "Maximal ", "Timeless ", "Demonic ", "Harrowing ", "Skeletal ", "The Macabre " ],
      [ { "mode" : "alts" }, "Stormweaver", "Overkill", "Bulletstorm", "Terror", "Skullshredder", "Shardblaster" ],
      [ { "mode" : "alts" }, "" ]
    ]
  ]
}
