{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Gruesome ", "Horrifying ", "Angry ", "Fleshy ", "Ever-Watching ", "All-Seeing ", "Gazing ", "Evil " ],
      [ { "mode" : "alts" }, "Rifle", "Jaw", "Eyeball", "Eye", "Stare", "Monstrosity", "Devourer", "Bio-Weapon" ]
    ]
  ]
}
