{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Giant Flower ", "Bright ", "Colourful ", "Nature's ", "Leaf ", "Vegetative " ],
      [ { "mode" : "alts" }, "Repeater", "Shredder", "Thrower", "Vengeance", "Carnage", "Assault Rifle" ]
    ]
  ]
}
