{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Odd ", "Symmetrical ", "Squared ", "Geometric ", "Flawless ", "Diamond ", "Regal " ],
      [ { "mode" : "alts" }, "Pistol", "Striker", "Revolver", "Brand", "Shot", "Gun", "Equalizer" ]
    ]
  ]
}
