{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Frozen ", "Fragile ", "Hailstone ", "Frostbite ", "Pristine ", "Divine " ],
      [ { "mode" : "alts" }, "Launcher", "Cannon", "Bombard", "Basilisk", "Mortar", "Mirror", "Ordnance", "Pillar" ]
    ]
  ]
}
