{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Tarnished ", "Rusty ", "Ancient ", "Timeworm ", "Tenacious ", "Flawed ", "Decaying " ],
      [ { "mode" : "alts" }, "Crossbow", "Arbalest", "Pistolet", "Rustheap", "Relic", "Impaler", "Ballista" ]
    ]
  ]
}
