{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Toxic ", "Poisonous ", "Thorned ", "Wicked ", "Verdant ", "Lethal ", "Foul ", "Virulent " ],
      [ { "mode" : "alts" }, "Railgun", "Spike", "Terror", "Monster", "Impaler", "Destroyer", "Eliminator" ]
    ]
  ]
}
