{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chest100header.png",
      "fileBody" : "/interface/chests/chest100body.png",
      "fileFooter" : "/interface/chests/chest100footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 38],
      "dimensions" : [10, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine100.png",
      "position" : [0, 38]
    }
   }
}
