{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chest300header.png",
      "fileBody" : "/interface/chests/chest300body.png",
      "fileFooter" : "/interface/chests/chest300footer.png"
    },
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 38],
      "dimensions" : [20, 15],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine300.png",
      "position" : [0, 48]
    }
   }

}
