{
  "__merge" : [],
  "paneLayout" : {
    "species" : {
      "buttons" : [
        {
          "image" : "",
          "position" : [208, 11]
        },
        {
          "image" : "",
          "position" : [235, 11]
        },
        {
          "image" : "",
          "position" : [262, 11]
        },
        {
          "image" : "",
          "position" : [208, -15]
        },
        {
          "image" : "",
          "position" : [235, -15]
        },
        {
          "image" : "",
          "position" : [262, -15]
        },
        {
          "image" : "",
          "position" : [208, -41]
        },
        {
          "image" : "",
          "position" : [235, -41]
        },
        {
          "image" : "",
          "position" : [262, -41]
        },
        {
          "image" : "",
          "position" : [208, -67]
        },
        {
          "image" : "",
          "position" : [235, -67]
        },
        {
          "image" : "",
          "position" : [262, -67]
        },
        {
          "image" : "",
          "position" : [208, -93]
        },
        {
          "image" : "",
          "position" : [235, -93]
        },
        {
          "image" : "",
          "position" : [262, -93]
        },
        {
          "image" : "",
          "position" : [208, -119]
        },
        {
          "image" : "",
          "position" : [235, -119]
        },
        {
          "image" : "",
          "position" : [262, -119]
        },
        {
          "image" : "",
          "position" : [208, -145]
        },
        {
          "image" : "",
          "position" : [235, -145]
        },
        {
          "image" : "",
          "position" : [262, -145]
        }
      ]
    }
  }
}
