{
"__merge" :[
[ "overwrite", "starmapScreenFastMovement" ],
[ "overwrite", "constellationLineColor" ],
[ "overwrite", "constellationLineWidth" ],
[ "overwrite", "travelLineDashLength" ],
[ "overwrite", "travelLineColor" ],
[ "overwrite", "travelLineWidth" ]
],
  "starmapScreenFastMovement" : 0.76,
  "constellationLineColor" : [170, 221, 250, 255],
  "constellationLineWidth" : 1,
  "travelLineDashLength" : 5,
  "travelLineColor" : [253, 251, 121, 255],
  "travelLineWidth" : 1.5
}



  
